nav {
  padding: 1em 2em;
  margin-bottom: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 0.169em solid #0C0B0B;
  position: relative;
  max-width: 100%;
  overflow-x: hidden;
}

#name {
  color: #0C0B0B;
  margin: 0;
  font-size: 1.5rem;
  font-weight: 700;
  position: absolute;
  left: 2rem;
}

#name h1 {
  margin: 0;
  padding: 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 0;
  background-color: #0C0B0B;
  border-radius: 2em;
  padding: 0.5rem;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 750;
  display: block;
  padding: 0.75rem 1rem;
  margin-left: 0.3em;
  margin-right: 0.3em;
  border-radius: 1.5em;
  transition: all 0.41s ease;
  background: radial-gradient(circle, #ffffff 25%, #0C0B0B 100%, #0C0B0B 100%);
  background-size: 0% 0%;
  background-position: center;
  background-repeat: no-repeat;
}

nav a:hover {
  background-size: 300% 300%;
  color: #0C0B0B;
}

nav li {
  border-right: 0.169em solid #ffffff;
  padding: 0;
  display: flex;
  align-items: center;
}

nav li:last-child {
  border-right: none;
  margin-right: 0em;
}

nav li:first-child {
  margin-left: 0;
}